{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
{% endblock %}

{% block body %}
  {% include('menu.html.twig') %}

  <h1 class="text-center"> Inscriptions en cours </h1>
  <div class="container d-flex justify-content-center">
    {% if (message) %}
      <div class="alert alert-danger text-center" style="width:40%">{{message}}</div>
    {% endif %}
  </div>
  <div class="container text-center">
    <div class="d-flex justify-content-center">
        {% for inscription in lesInscriptions %}
          <div class="card bg-dark text-white mb-3" style="max-width: 20rem; margin: 5px">
            <div class="card-header">
            {{inscription.visiteur.id}}
            </div>
            <div class="card-body">
              <p class="card-text">Nom du visiteur : {{inscription.visiteur.nom}}</p>
              <p class="card-text">Prénom du visiteur : {{inscription.visiteur.prenom}}</p>
              <p class="card-text">Nom de la formation : {{inscription.formation.produit.libelle}}</p>
              <a href="{{path('app_accepter', {'id':inscription.id})}}" class="btn btn-primary"> Accepter </a>
              <a href="{{path('app_refuser', {'id':inscription.id})}}" class="btn btn-primary"> Refuser </a>
            </div>
          </div>
        {% endfor %}
    </div>    
    <a href={{ path('app_aff_tout') }} class="btn btn-primary">Retour</a></br>
  </div>
{% endblock %}